{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}


{% include 'menu.html' with mt='login' %}
<div class="container main">

<h1>Авторизация</h1>

    <form class="form-signin" method="post">
    	{% csrf_token %}
		{% for field in form %}

	<div class="form-group">
		{{ field.label }}
		{{ field|add_class:'form-control form-control-lg' }}
		                    <small class="text-muted">{{ field.help_text }}</small>
                    {{ field.errors }}
	</div>
    	{% endfor %}
		<input class="btn btn-primary" type="submit" value="Войти">

		<div class="text-center mb-4">
        <ul class="form-link">
      <li><a href="/accounts/password_reset/">Забыли пароль?</a></li>
      <li><a href="/accounts/register/">Регистрация</a></li>
    </ul>
        </div>
	</form>

</div>


{% endblock %}