{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}   {% endblock %}
{% block content %}
{% include 'menu.html' with mt='charge_map' %}

<div id="map"></div>

{% endblock %}


{% block footer %}

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 11,
        }, {
            searchControlProvider: 'yandex#search'
        }),
        objectManager = new ymaps.ObjectManager({
            clusterize: false,
            gridSize: 32,
            clusterDisableClickZoom: true
        });

    myMap.geoObjects.add(objectManager);

    $.ajax({
        url: "{% static 'js/data.json' %}"
    }).done(function(data) {
        objectManager.add(data);
    });

}
</script>
{% endblock footer %}