{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<style></style>
{% endblock %}

{% block content %}
{% include 'menu.html' with mt='index' %}
<div class="container-fluid first-screen">
    <div class="row">
    <div class="position-relative overflow-hidden text-left">
      <div class="col-md-3 offset-md-3 p-lg-5" style="padding: 8% 0!important;">
        <h1 class="display-4 font-weight-normal">Сервис для Электромобилей</h1>
        <p class="lead font-weight-normal">Вы гоняете на электрокаре, но найти свободную заправку для вас адовый геморрой?
        Тогда наш сервис предназначен для вас! <br>
        Скачивайте наше приложение во всех app-сторах страны. </p>
        <a class="btn btn-outline-secondary btn-success" href="#">App Store</a> <a class="btn btn-success btn-outline-secondary" href="#">Google Play</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #f2f1f1;">
    <div class="row second-screen">
        <div class="col-md-4 offset-md-1"><img src="{% static 'images/WattsOn.png' %}" style="max-width: -webkit-fill-available; max-width: 100%;"></div>
        <div class="col-md-5 text-center">
            <p>Скачав приложение, вы получаете доступ к более 100 зарядным станциям, расположенным по всей Москве.</p>
            <h4>Что нужно сделать:</h4>
        <div class="row"><div class="col-md-4 align-items-center mx-auto"><img src="{% static 'images/icon-1.png' %}"><h6>Найдите и забронируйте ближайшую заправку</h6></div>
        <div class="col-md-4 align-items-center mx-auto"><img src="{% static 'images/icon-2.png' %}"><h6>Оплатите зарядку и зарядите ваш автомобиль</h6></div>
        <div class="col-md-4 align-items-center mx-auto"><img src="{% static 'images/icon-3.png' %}"><h6>Выпейте вкусного кофе</h6></div></div>
            </div>
    </div>

</div>

<div class="container">
    <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge"><img src="{% static 'images/32уцвы.png' %}" style="width: 100%;max-width: 9rem;padding: 1.5rem;"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ДЛЯ ВЛАДЕЛЬЦЕВ ЭЛЕКТРОКАРОВ</h4>
            </div>
            <div class="timeline-body">
              <p>Мы думаем, что все владельцы электрокаров сталкивались с проблемой поиска свобоных зарядных станций. 
              Вспомните, как вы икали место, чтобы подзарядиться и метались от отной зарядки к другой... Теперь это в прошлом!
              Наш сервис позволит вам выбрать ближайшую зарядную станцию, забронировать ее, комфортно зарядить автомобиль и оплатить зарядку.
              Все что для этого нужно - ваш смартфон!</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><img src="{% static 'images/32уцвы.png' %}" style="width: 100%;max-width: 9rem;padding: 1.5rem;"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">ДЛЯ БИЗНЕСА</h4>
            </div>
            <div class="timeline-body">
              <p>Вы хотите привлечь новых клиентов, но все основные способы уже испробованы? Мы знаем, как это сделать!
              Установите одну из наших зарядных станций на территории вашего отеля, офиса, кафе или другого бизнеса и получите новую
              платежеспособную аудиторию! Все что вам нужно - это связаться с нам, а всю работу по установке, подключению и обслуживанию
              зарядки мы возьмем на себя.</p>
            </div>
          </div>
        </li>

    </ul>
</div>
<div class="container-fluid text-center" style="background-color: #61b40e; color:#fff;padding-top: 8%">
    <div class="container">
    <h2 class="text-center">Cвяжитесь с нами</h2>
    <form action="{% url 'mail_sender' %}" method="post">
  <div class="row" style="background-color: #fff;padding: 3rem 0rem;margin: 2rem;border-radius: 10px;">
      {% csrf_token %}
        {% for field in form %}
          <div class="col">
              {{ field }}
          </div>
        {% endfor %}

      <div class="col">
      <button type="submit" class="btn" style="background-color:#1e3c00;color:#fff;">Отправить</button>
    </div>
  </div>
</form>
<br><br><br><br>
</div>
</div>


{% endblock %}