{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<h2>Профиль пользователя {{user.username}}</h2> (<a href="/users/profile/update">Изменить Профиль</a>
)
<p>Имя: {{user.first_name}}</p>
<p>Фамилия: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Картинка: {{user.profile.user_image}}</p>
<p>Страна: {{user.profile.user_country}}</p>
<p>Город: {{user.profile.user_city}}</p>
<h2>Автомобиль {{user.username}}</h2>
<p>Машина: {{user.profile.user_car.name}}</p>
<p>Госномер: {{user.profile.user_car.plate}}</p>
<p>Мощность, кВт: {{user.profile.user_car.acc}}</p>

<h2>Состояние счета {{user.username}}</h2>
<p>Текущий баланс: {{user.billing.balance}} руб.</p>
<p>Бонусы: {{user.billing.bonus_balance}} баллов</p>
<p>Количество зарядок: {{user.billing.number_of_charges}}</p>
<p>Потребленная мощность: {{user.billing.cunsumed_power}} кВт</p>


{% endblock %}

